*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(243, 242, 242);
    font-family:'Josefin Sans' ,sans-serif;
    box-sizing: border-box;
    background: url(https://static-cse.canva.com/blob/571503/Patterns303.jpg);
    background-size: cover;
}

strong{
    font-size: 1.5rem;
}

.Navcontainer {
    height: 5vh;
    background-color: lightgrey;
}
.Portfolio-Introduction{
    height: 15vh;
    margin:3rem 2rem;
    font-size: 1.2rem;
    background-color:lightskyblue;
    border-radius:10px;
    width:fit-content;
    block-size: fit-content;

}
.menu a:hover{
    transform: scale(1.1);
}
.Portfolio-Introduction_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
form{
    margin:2rem;
}
form .button:hover{
transform: scale(1.1);
}
form >*:first-child{
    width: 60%;
}
form *:first-child:hover{
    transform: scale(1.05);
}
section{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin: 5vh 5vh;
    box-shadow: 6px 4px 12px rgb(0,0,0,0.8);

}
main{
    background-color: lightgray;
    height: 80vh;
    flex:1;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
}
.card{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    border-radius: 0.7rem;
    position: relative;
    top:60%;
    background-color: rgb(70, 69, 69);
    border:none;

}
.card button:hover{
    transform: scale(1.1);
}


.HomePage-Section_1{
    border-top-right-radius: 1rem;
    border-bottom-right-radius:1rem ;
}
.HomePage-Section_2{
    border-top-left-radius:1rem ;
    border-bottom-left-radius: 1rem;
}
.HomePage-Main_1{
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.HomePage-Main_2{
border-bottom-right-radius: 1rem;
border-top-right-radius: 1rem;
}
main p{
    margin:1rem 10%;
    width:80%;
    color:white;
}
.aside1{
border-top-right-radius: 8px;
border-bottom-right-radius:8px ;
height: 80vh;
width:25vw;
padding: 1rem 1rem;
overflow: hidden;
background-color:lightskyblue;
display: flex;
flex-direction: column;


}
.aside1 span ,.aside2 span{
margin: 1rem;
font-size: 1.2rem;
font-style: bold;
}
.aside1 img, .aside2 img{
   width: 100%;
   height: fit-content;
}

.aside2{
    border-top-left-radius:8px ;
    border-bottom-left-radius: 8px;
    height: 80vh;
    width:25vw;
    padding: 1rem 1rem;
    overflow: hidden;
    background-color:lightskyblue;
    display: flex;
    flex-direction: column;
}
section img{
 height: 60vh;
 width: 50vh;
 box-shadow: 6px 4px 12px rgb(0,0,0,0.6);
 
}
section img:hover{
    transform: scale(1.05);
}
.tiagoImg,.vascoImg{
   border-radius:  0.5rem ;

}

footer{
    height: 15vh;
    background-color: lightskyblue;
}


.article>div{
height: 50px;
}

.personalInfo{
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: fit-content;
    block-size: fit-content;
    padding: 40px;
    text-align: center;
    margin: 2rem;
    margin-top: 5%;
    color: white;
    border-radius: 10%;
    box-shadow: 6px 4px 12px rgb(0,0,0,0.6);
}

.personalInfo img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 6px 4px 12px rgb(0,0,0,0.6);
}

.personalInfo img:hover{
    transform: scale(1.05);
}

.personalInfo h1{
    font-size: 40px;
    font-weight: 100;
}

.personalInfo aside{
    font-size: 20px;
    width: 100%;
    text-align: justify;
}

